@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Open-sans", sans-serif;
  display: block;
  width: 100%;
  position: absolute
}

:root {
  --primary: white;
  --secondary: #d4d4d4;
}
