@import "tailwindcss";
@import "@jigjoy-io/ui-library/dist/index.css";

body {
	margin: 0;
	font-family: "Open-sans", sans-serif;
	width: 100%;
}

:root {
	--primary: white;
	--secondary: #d4d4d4;
}

input {
	-webkit-appearance: none;
}

@theme {
	/* Colors */
	--color-primary: #f672d1;
	--color-primary-light: #fbbeea;
	--color-default: #000000;
	--color-default-light: #e2e2e2;
	--color-light: #aaaaaa;

	--color-alert-success: #d1f4e0;
	--color-alert-danger: #fdd0df;
	--color-alert-info: #e6f3ff;
}
